$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

.button-container {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  @include mobile {
    min-width: 130px;
    width: 100px;
    padding: 0 20px 0 20px;
  }

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  &.google-sign-in {
    background-color: #aed8fa;
    color: black;
    border: 1px solid #aed8fa;
    @include mobile {
      width: 60%;
    }

    &:hover {
      background-color: #6891d3;
      color: white;
      border: #357ae8;
    }
  }

  &.inverted {
    background-color: white;
    color: black;
    border: 1px solid black;

    @include mobile {
      width: 90%;
    }

    &:hover {
      background-color: black;
      color: white;
      border: none;
    }
  }

  &.overlay {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;

    &:hover {
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      border: none;
    }
  }

  &.delete {
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    border: 1px solid red;

    &:hover {
      background-color: rgb(150, 1, 1);
      color: white;
      border: none;
    }
  }
}
