.navigation {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0 25px 0;

  .logo-container {
    height: 100%;
    width: 125px;
    padding: 10px 0 0 10px;
    margin-left: 20px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: rgba(190, 190, 190, 0.5);
  }
  .nav-brand {
    width: 40%;
    text-align: end;
    font-size: 30px;
    font-weight: 800;
    font-family: "Bodoni Moda", serif;
    color: rgb(61, 61, 61);
  }

  .nav-links-container {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
