.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;

  .modal {
    z-index: 100;
    background: white;
    margin: 1.75rem auto;
    border-radius: 20px;
    max-width: 350px;
    padding: 1.75rem;

    .modal-header {
      width: 50%;
      margin: auto;
    }

    .modal-body {
      font-size: 28px;
    }
  }
}
