$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

.category-preview-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  .category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .category-title {
      font-size: 26px;
      cursor: pointer;
    }
    .category-show-all {
      font-size: 14px;
      cursor: pointer;
      color: black;
    }
    .category-show-all:hover {
      color: rgba(0, 0, 0, 0.5);
    }
  }
  .category-preview {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    @include mobile {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
      row-gap: 30px;
    }

    #overlay-btn {
      display: none;
    }
    &:hover #overlay-btn {
      display: block;
      @include mobile {
        display: none;
      }
    }

    &::after {
      position: absolute;
      top: 0;
      content: "";
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.1) 25%,
        rgba(0, 0, 0, 0.6) 60%
      );
      height: 380px;
      width: 100%;
      display: none;
    }
    &:hover::after {
      display: block;
      @include mobile {
        display: none;
      }
    }
  }
}
